h1{
    color: blue;
    text-align: center;
    text-decoration: underline;
    
    
    
    
}
p{
    text-align: left;
    font-size: larger;
    
}
h2{
    text-decoration: underline;
}
